<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: medium;
      }
      p {
        margin: 0;
      }
      .message a {
        text-decoration: none;
        color: black;
        align-self: flex-start;
      }
      .message a:hover {
        color: rgb(49, 49, 235);
      }
      b {
        font-size: xx-large;
      }
    </style>
    <title>Social signON</title>
  </head>
  <body>
    <b><%= code %> &#124;</b>
    <div class="message">
      <p>&nbsp;&nbsp;&nbsp; <%= message %></p>
      <a href="/">&nbsp;&nbsp;&nbsp;Go back to Home</a>
    </div>
  </body>
</html>
