<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/user.css" />
    <script defer src="script/user.js"></script>
    <title>USER PROFILE</title>
  </head>
  <body>
    <div class="card">
      <img src="<%= picture %>" alt="image" />
      <h1><%= name%></h1>

      <div class="email"><%= email%></div>
      <i class="fa fa-sign-out" style="font-size: 24px"></i>
    </div>
  </body>
</html>
